* {
  margin: 0;
  padding: 0;
}
.header-outer-container {
  background-color: #2874f0;
  padding: 10px;
  position: fixed;
  z-index: 999999;
  top: 0px;
  width: 100%;
}
.header-inner-container {
  max-width: 1100px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  height: 35px;
}
.header-left-side-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header-right-side-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.flikart-container {
  height: 35px;
}
.flipkart-text-image {
  height: 20px;
  width: 75px;
}

.explore-plus-anger {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

/* Serach bat text */
.search-text-container {
  border-radius: 3px;
  background-color: white;
  height: 100%;
  width: 450px;
}
.serach-text {
  height: 100%;
  width: 90%;
  outline: none;
  border: none;
  font-size: 14px;
  margin: 0px 10px 0px 5px;
}
.search-icon {
  color: #2874f0;
  height: 20px;
  width: 20px;
}
/* Login button */
.login-button-container {
  display: flex;
  align-items: center;
}
.login-button {
  background-color: white;
  padding: 5px 18px;
  text-decoration: none;
  color: #2874f0;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 40px;
}
/* more button */
.more-container-button {
  color: white;
}
.more-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* cart container */
.cart-container {
  color: white;
}
.cart-container-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.cart-container-button-icon {
  width: 25px;
  font-size: 20px;
}
